@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternatesdisplay=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import "tailwindcss";

@theme {
  --font-cormorant-garamond: "Cormorant Garamond", serif;
  --font-montserrat-alternates: "Montserrat Alternates", serif;
  --font-open-sans: "Open Sans", serif;
  --font-archivo: "Archivo", Arial;
  --font-gotu: "Gotu", serif;
}

@media screen and (max-width: 600px) {
  .phone-none {
    display: none;
  }
}

/* Add this to your CSS file */
@media (max-width: 320px) {
  .custom-gap {
    gap: 20px !important; /* gap-14 = 3.5rem */
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .custom-gap {
    gap: 30px !important; /* gap-20 = 5rem */
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .custom-gap {
    gap: 50px !important; /* gap-20 = 5rem */
  }
}
